.task-manager-home
{
    text-align: center;
    width: 100%;
    top : 60px;
    bottom:  60px;
    position: absolute;
    overflow-y: auto;
}

.tasks-container
{
    width: 100%;
    display : grid;
    grid-gap: 10px;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
}